<div *ngIf="isDone ==true;else elseBlock" >
  <div class="loaders"></div>
</div>
<ng-template #elseBlock>
  <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>اعضا</h4>
      </div>
      <div class="card-body" id="htmlData">
        <a  style="cursor: pointer;" class="badge badge-shadow badge-info"
        target="_blank"
                (click)="OnPrint()" >چاپ</a>
        <div class="table-responsive">
          <table class="table table-striped" id="table-1">
            <thead>
              <tr>
                <th class="text-center">
                تعداد
                </th>
                <th>نام خدمات</th>
              
                <th>نام مربی</th>


                <th data-html2canvas-ignore="true">  </th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of AuthServicesSport; let i = index">
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{item.NameService}}
                </td>
                <td  >
                {{item.CoachSport}}
                </td>
             


                <td data-html2canvas-ignore="true">
                  <a  data-html2canvas-ignore="true"(click)="onEditEvent(1)" style="cursor: pointer;" class="badge badge-warning badge-shadow">ویرایش</a>
                  <a data-html2canvas-ignore="true" (click)="onDeleteServiceSport(1)" style="cursor: pointer;" class="badge badge-info badge-shadow">حذف</a>
                  <a data-html2canvas-ignore="true" href="#" style="cursor: pointer;" class="badge badge-shadow badge-info">بیشتر</a>
                </td>


                <!-- <td><a href="#" class="btn btn-primary">جزئیات</a></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>

