
<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="card card-primary">
            <div class="card-header">
              <h4>ورود</h4>
            </div>
            <div class="card-body">
              <form #authForm="ngForm"  (ngSubmit)="onSubmit(authForm)" class="needs-validation" novalidate="">
                <div class="form-group">
                  <label for="username">نام کاربری</label>
                  <input id="username" type="text" class="form-control"
                  ngModel
                  name="username"
                  required
                  tabindex="1"  autofocus="">
                  <div class="invalid-feedback">
                    لطفا نام کاربری خود را پر کنید
                  </div>
                </div>
                <div class="form-group">
   <label for="password" class="control-label">کلمه عبور</label>
                  <input  type="password" class="form-control"

                  ngModel
                  name="password"
                  required

                   tabindex="2" required>
                  <div class="invalid-feedback">
                    لطفا رمز عبور خود را وارد کنید
                  </div>

                </div>

                <div class="form-group">
                  <button type="submit"

                  [disabled]="!authForm.valid"

                  class="btn btn-primary btn-lg btn-block" tabindex="3">
                    ورود
                  </button>
                  <div class="d-block">

                    <div class="float-left">

                      <a    routerLink="/header" class="text-small" style="cursor: pointer;">
                    حساب ندارید؟ یکی بسازید
                      </a>
                    </div>
                  </div>
                </div>
              </form>



              </div>
            </div>
          </div>

        </div>
      </div>

  </section>
  <router-outlet></router-outlet>
</div>


