<div *ngIf="isDone ==true;else elseBlock" >
  <div class="loaders"></div>
</div>
<ng-template #elseBlock>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>تنظیمات باشگاه</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">
                  نام باشگاه
                  </th>

                  <th> اخبار</th>
                  <th>تاریخ جهت درج</th>


                  <th>  </th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    2
                  </td>
                  <td  >
                  3
                  </td>



                  <td>
                    <a (click)="onEditEvent(1)" style="cursor: pointer;" class="badge badge-info">ویرایش</a>

                    <a (click)="onDeleteSetting(1)"  style="cursor: pointer;" class="badge badge-info">حذف</a>
                    <a href="#" style="cursor: pointer;" class="badge badge-shadow badge-info">بیشتر</a>
                  </td>


                  <!-- <td><a href="#" class="btn btn-primary">جزئیات</a></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

